@charset "utf-8";

body {
	font-family: "Open Sans", "Noto Sans KR", sans-serif;
	font-size: 1em;
}

/* #skip_nav */
#skip_nav a {
	position: fixed;
	left: 0;
	top: -9999px;
	z-index: 9999;
	padding: 6px 0;
	width: 100%;
	text-align: center;
	font-size: 0.875em;
	background-color: #333;
	color: #fff;
}
#skip_nav a:focus {
	top: 0;
}

/* #header */
#header {
	display: flex;
	justify-content: space-between;
	position: relative;
	margin: 0 auto;
	width: 1020px;
	height: 100px;
}
#header .signature {
	/* order: 2; */
	position: absolute;
	left: 50%;
	top: 15px;
	width: 160px;
	height: 70px;
	transform: translateX(-50%);
}
#header .signature img {
	max-width: 100%;
}
#header .social {
	display: flex;
	/* order: 1; */
	margin-top: 38px;
}
#header .social ul {
	display: flex;
}
#header .social ul li {
	margin: 0 3px;
}
#header .social ul li:first-child {
	margin-left: 0;
}
#header .social .mileage_btn {
	margin-left: 12px;
}
#header .location {
	/* order: 3; */
	margin-top: 38px;
}
#header .location ul {
	display: flex;
}
#header .location ul li a {
	display: block;
	padding: 0 12px;
	line-height: 26px;
	font-size: 0.75em;
	background: url(../images/bg_table_col.gif) no-repeat left center;
	color: #797d85;
}
#header .location ul li:first-child a {
	background: none;
}
#header .location ul li:last-child a {
	padding-right: 0;
}

/* #nav */
#nav {
	position: relative;
	min-width: 1020px;
}
#nav > ul {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 54px;
	overflow: hidden;
	text-align: center;
	background: #fff url(../images/bg_gnb.gif) repeat-x 0 0;
	transition: height 0.3s;
}
#nav > ul.over {
	height: 185px;
}
#nav > ul > li {
	display: inline-block;
	position: relative;
	padding: 0 20px;
}
#nav > ul > li > a {
	display: block;
	padding: 0 40px;
	line-height: 54px;
	font-size: 0.875em;
	color: #2f2f2f;
}
#nav > ul > li:hover > a,
#nav > ul > li.over > a {
	color: #b4252d;
}
#nav .sub {
	position: absolute;
	left: 50%;
	margin-left: -20px;
	padding-top: 14px;
	text-align: left;
}
#nav .sub a {
	display: block;
	padding: 6px 0 7px;
	line-height: 1;
	font-size: 0.75em;
	color: #a0a0a0;
}

/* .slider */
.slider {
	position: relative;
	margin-top: 54px;
	min-width: 1020px;
}
.slider .gallery {
	position: relative;
	width: 100%;
	height: 422px;
	overflow: hidden;
}
.slider .gallery ul {
	display: flex;
	position: absolute;
	left: 0;
	top: 0;
	width: 400%;
	height: 100%;
}
.slider .gallery ul li {
	width: 25%;
}
.slider .gallery ul li img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.slider .direction_nav a {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.slider .direction_nav a.left {
	left: 20px;
}
.slider .direction_nav a.right {
	right: 20px;
}

/* #section1 */
section {
	margin: 0 auto;
	width: 1020px;
}
#section1 {
	padding: 70px 0 30px;
}
#section1 .content_top {
	display: flex;
}
#section1 .content_top .buttero_img {
	width: 690px;
	overflow: hidden;
}
#section1 .content_top .buttero_img img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: scale(1);
	transition: transform 0.3s;
}
#section1 .content_top .buttero_img:hover img,
#section1 .content_top .buttero_img:focus img {
	transform: scale(1.1);
}
#section1 .content_top .buttero_txt {
	margin-left: 30px;
	padding-top: 120px;
	width: 300px;
	text-align: center;
	border: 1px solid #a0a0a0;
	box-sizing: border-box;
}
#section1 .content_top .buttero_txt h4 {
	font-size: 1.5em;
}
#section1 .content_top .buttero_txt span {
	padding-top: 5px;
	font-size: 0.875em;
	color: #302f2f;
}
#section1 .content_top .buttero_txt p {
	padding: 30px 0;
	font-size: 0.875em;
	color: #a0a0a0;
}
#section1 .content_top .buttero_txt .button {
	display: inline-block;
	padding-top: 0;
	width: 120px;
	line-height: 35px;
	background-color: #fff;
	transition: background-color 0.3s, color 0.3s;
}
#section1 .content_top .buttero_txt:hover p,
#section1 .content_top .buttero_txt:focus p {
	text-decoration: underline;
}
#section1 .content_top .buttero_txt:hover .button,
#section1 .content_top .buttero_txt:focus .button {
	background-color: #b5252e;
	color: #fff;
}
#section1 .content_bottom {
	display: flex;
	margin-top: 30px;
	height: 388px;
}
#section1 .content_bottom .atclip_txt {
	padding-top: 120px;
	width: 300px;
	text-align: center;
	border: 1px solid #a0a0a0;
	box-sizing: border-box;
}
#section1 .content_bottom.atclip_txt h4 {
	font-size: 1.5em;
}
#section1 .content_bottom .atclip_txt span {
	padding-top: 5px;
	font-size: 0.875em;
	color: #302f2f;
}
#section1 .content_bottom .atclip_txt p {
	padding: 30px 0;
	font-size: 0.875em;
	color: #a0a0a0;
}
#section1 .content_bottom .atclip_txt .button {
	display: inline-block;
	padding-top: 0;
	width: 120px;
	line-height: 35px;
	background-color: #fff;
	transition: background-color 0.3s, color 0.3s;
}
#section1 .content_bottom .atclip_txt:hover p,
#section1 .content_bottom .atclip_txt:focus p {
	text-decoration: underline;
}
#section1 .content_bottom .atclip_txt:hover .button,
#section1 .content_bottom .atclip_txt:focus .button {
	background-color: #b5252e;
	color: #fff;
}
#section1 .content_bottom .atclip_img {
	margin-left: 30px;
	width: 690px;
	overflow: hidden;
}
#section1 .content_bottom .atclip_img img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: scale(1);
	transition: transform 0.3s;
}
#section1 .content_bottom .atclip_img:hover img,
#section1 .content_bottom .atclip_img:focus img {
	transform: scale(1.1);
}

/* section2 */
#section2 {
	display: flex;
}
#section2 .content_left {
	width: 495px;
}
#section2 .content_left .heich {
	display: block;
	position: relative;
}
#section2 .content_left .heich .txt {
	position: absolute;
	left: 30px;
	bottom: 56px;
}
#section2 .content_left .heich .txt p {
	font-size: 0.875em;
	color: #fff;
}
#section2 .content_left .heich .txt h4 {
	font-size: 1.625em;
	color: #fff;
}
#section2 .content_left .heich .txt .button {
	display: inline-block;
	margin-top: 20px;
	width: 100px;
	line-height: 35px;
	text-align: center;
	font-size: 0.813em;
	color: #fff;
	border: 1px solid #fff;
	transition: background-color 0.3s, color 0.3s;
}
#section2 .content_left .heich:hover .txt .button,
#section2 .content_left .heich:focus .txt .button {
	background-color: #fff;
	color: #444;
}
#section2 .content_left .new {
	display: block;
	position: relative;
	margin-top: 30px;
	text-align: center;
}
#section2 .content_left .new .txt {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
#section2 .content_left .new .txt h4 {
	font-size: 2.25em;
	color: #444;
	transition: color 0.3s;
}
#section2 .content_left .new .txt p {
	font-size: 0.875em;
	color: #444;
	transition: color 0.3s;
}
#section2 .content_left .new .txt .button {
	display: inline-block;
	margin-top: 30px;
	width: 125px;
	line-height: 35px;
	font-size: 0.813em;
	background-color: #444;
	color: #fff;
	transition: background-color 0.3s;
}
#section2 .content_left .new:hover,
#section2 .content_left .new:focus {
	background: url(../images/new.jpg) no-repeat center center;
}
#section2 .content_left .new:hover .txt h4,
#section2 .content_left .new:focus .txt h4,
#section2 .content_left .new:hover .txt p,
#section2 .content_left .new:focus .txt p {
	color: #fff;
}
#section2 .content_left .new:hover .txt .button,
#section2 .content_left .new:focus .txt .button {
	background-color: #b5252e;
}




#section2 .content_right {
	margin-left: 30px;
	width: 495px;
}
#section2 .content_right .sale {
	display: block;
	padding-top: 80px;
	height: 300px;
	text-align: center;
	border: 1px solid #a0a0a0;
	box-sizing: border-box;
}
#section2 .content_right .sale h4 {
	font-size: 2.25em;
	color: #444;
	transition: color 0.3s;
}
#section2 .content_right .sale p {
	font-size: 0.875em;
	color: #444;
	transition: color 0.3s;
}
#section2 .content_right .sale .button {
	display: inline-block;
	margin-top: 30px;
	width: 125px;
	line-height: 35px;
	font-size: 0.813em;
	background-color: #444;
	color: #fff;
	transition: background-color 0.3s;
}
#section2 .content_right .sale:hover,
#section2 .content_right .sale:focus {
	background: url(../images/sale.jpg) no-repeat center center;
}
#section2 .content_right .sale:hover h4,
#section2 .content_right .sale:focus h4,
#section2 .content_right .sale:hover p,
#section2 .content_right .sale:focus p {
	color: #fff;
}
#section2 .content_right .sale:hover .button,
#section2 .content_right .sale:focus .button {
	background-color: #b5252e;
}
#section2 .content_right .mimic {
	display: block;
	position: relative;
	margin-top: 30px;
}
#section2 .content_right .mimic .txt {
	position: absolute;
	left: 30px;
	bottom: 56px;
}
#section2 .content_right .mimic .txt p {
	font-size: 0.875em;
	color: #fff;
}
#section2 .content_right .mimic .txt h4 {
	font-size: 1.625em;
	color: #fff;
}
#section2 .content_right .mimic .txt .button {
	display: inline-block;
	margin-top: 20px;
	width: 100px;
	line-height: 35px;
	text-align: center;
	font-size: 0.813em;
	color: #fff;
	border: 1px solid #fff;
	transition: background-color 0.3s, color 0.3s;
}
#section2 .content_right .mimic:hover .txt .button,
#section2 .content_right .mimic:focus .txt .button {
	background-color: #fff;
	color: #444;
}

/* #footer */
#footer {
	margin-top: 60px;
	min-width: 1020px;
	background-color: #333;
}
#footer .footer_inner {
	margin: 0 auto;
	padding: 55px 0;
	width: 1020px;
	text-align: center;
}
#footer .top span {
	display: inline-block;
	vertical-align: middle;
	font-size: 0.75em;
	color: #727272;
}
#footer .top a {
	display: inline-block;
	margin-left: 15px;
	vertical-align: middle;
}
#footer .link ul {
	display: flex;
	justify-content: center;
}
#footer .link ul li {
	position: relative;
	padding: 20px 18px;
}
#footer .link ul li::before {
	content: "";
	position: absolute;
	left: 0;
	top: 20px;
	width: 1px;
	height: 16px;
	background-color: #727272;
}
#footer .link ul li:first-child:before {
	display: none;
}
#footer .copyright {
	font-size: 0.75em;
	color: #727272;
}